*{
    font-family: fantasy;
}
/*l'étoile ou l'astérisque séléctionne tous les élements de la page html*/
body{
    width: 50%;
}
table{
    border: 4px solid #850505;
    border-collapse: collapse;
    width: 90%;
    margin: 25px;
}
thead, tfoot{
    background: #a07676;
    border: 2px solid #3365B0;
}
tbody{
    border: 1px solid #3365B0;

}
th{
    border: 1px dotted #3365B0;
    padding: 4px;
    background: #a07676;
    width: 25%;
}
td{
    font-size: 100%;
    border: 1px dotted #3365B0;
    padding: 5px;
    text-align: center;
}
td:first-child{
    text-align: left;
    background: #a07676;
}
